<div style="overflow-y: auto;" class="animated fadeIn">
<div class="about-panel">
	<h1 class="about-title animated fadeInDown"> about </h1>
	<div class="about-me">
		<p>I recently graduated from McGill University with a degree in Computer Science and a Minor in Economics. Over the years, programming and creating new things has become a passion of mine. I have developed a new found interest in areas of studies such as Natural Language Processing and Computational Social Linguistics. If you're looking towards working with someone with an interdisciplinary background and an interest in Computer Science, feel free to shoot me a message! I would love to be part of new exciting ventures.</p>
		<p>More about me: I grew up in Japan, and I am a vegetarian. So basically I have never tried Japanese food. I can speak Hindi, English and Japanese. Currently my favorite cuisines are Mexican (3rd), Italian (2nd), Indian (1st). In my free time I like to play the guitar, read books (most-recent read: Into Thin Air) and beat my friends at board-games.</p>
		<p>Current Goal: Quit Coffee Starting Tomorrow.</p>
	</div>
	
</div>
<div class="picture-panel">
	<div class="picture-tag">
	</div>
	<div class="descriptions">
		<h1 class="name-tag"> Abhinav Bhandari </h1>
		<p> Software Developer, Linguistics Learner, Overall Enthusiast </p>
		<a class="links" href="https://github.com/abhinavbhandari"><img [src]="github" width="40px" height="40px"/></a>
		<a class="icon-links" target="_blank" href="assets/Abhinav_Bhandari_Resume.pdf"><img [src]="profiles" height="40px" width="40px"/></a>
	</div>
</div>
</div> 
