<div class="container">
  <div class="row">
    <div class="col-sm-4">
	<div class="card">
		<h5 class="card-title">Synthboard</h5>
		<p class="card-text"> Synesthesia is condition in which a person experiences the stimulation of multiple senses when only one sense is evoked. In my case I see colours when I hear music. In this project I demonstrate the colours that I mostly see when the notes of c-major scale are played. This was implemented using HTML5 Canvas, animejs and Tonejs. It is named "Synthboard" because it is a blend of synesthesia and a keyboard.</p>
		<a routerLink="/synthboard" class="btn btn-primary">Go to Synthboard</a>
	</div>
    </div>
  </div>
</div>
