<div class="container">
  <div class="row">
    <div class="col-sm-4">
	<div class="card">
		 <img class="card-img-top" src="assets/synthpad_image.png" alt="Card image cap">
		<h5 class="card-title">Synthboard</h5>
		<p class="card-text"> Synesthesia is condition in which a person experiences the stimulation of multiple senses when only one sense is evoked. In my case I see colours when I hear music. In this project I demonstrate the colours that I mostly see when the notes of c-major scale are played. This was implemented using HTML5 Canvas, animejs and Tonejs. It is named "Synthboard" because it is a blend of synesthesia and a keyboard.</p>
		<a routerLink="/synthboard" class="btn btn-primary">Go to Synthboard</a>
	</div>
    </div>
    <div class="col-sm-4">
	<div class="card">
		 <img class="card-img-top" src="assets/translation_image.png" alt="Card image cap">
		<h5 class="card-title">Translation Highlighter</h5>
		<p class="card-text">This web app processes translation between English to Japanese. If a user hovers on a sentence, it will highlight the corresponding sentences in both English and Japanese. This was implemented using Django Rest Framework, Google Cloud Run, Docker and Google Apis.</p>
		<a routerLink="/translation" class="btn btn-primary">Go to Translation Highlight</a>
	</div>
    </div>
  </div>
</div>
